h1{
    color: blue;
    border: 2px solid #000000;
    border-radius: 25%;
    padding: 10px;
}

.container{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    margin:  25px 25%;
}

.buttonHouse{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    
}
button{
    width: 40px;
    height: 40px;
    width:33.3%;
    font-size: 30px;
}
#equals,
#clear{
    width: 50%;
}


